# Source & configs
src/**
**/*.ts
**/*.map
tsconfig.json
eslint.config.mjs

# Dev + tooling
node_modules/**
.vscode/**
.vscode-test/**
esbuild.mjs
.gitignore

# Tests
out/test/**

# Misc
.yarnrc
vsc-extension-quickstart.md