@import "tailwindcss";

/* App.css */
@keyframes pulse-bg {
  0% {
    background-size: 200% 200%;
  }
  50% {
    background-size: 150% 150%;
  }
  100% {
    background-size: 200% 200%;
  }
}

.animate-pulse-bg {
  animation: pulse-bg 10s ease-in-out infinite;
}

/* Button fill effect */
.btn-fill-hover {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-fill-hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fbd38d; /* A slightly darker orange for the fill */
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.btn-fill-hover:hover::before {
  width: 100%;
}